<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.examsystem.mapper.CompareShortAnswerMapper">
    <select id="selectPageWithReply" resultType="com.zj.examsystem.entity.CompareShortAnswer">
        SELECT *
        FROM compare_short_answer_with_reply ${ew.customSqlSegment}
    </select>

    <select id="findById" resultType="com.zj.examsystem.entity.CompareShortAnswer">
        SELECT *
        FROM compare_short_answer_with_reply
        WHERE compare_id = #{compareId}
    </select>
</mapper>
