<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.examsystem.mapper.SubjectMapper">
    <resultMap id="SubjectWithTeacherAndClazz" type="com.zj.examsystem.entity.Subject">
        <id column="subject_id" property="subjectId"/>
        <result column="subject_name" property="subjectName" jdbcType="VARCHAR"/>
        <result column="teacher_id" property="teacherId" jdbcType="INTEGER"/>
        <result column="clazz_id" property="clazzId" jdbcType="INTEGER"/>
        <!-- extra property -->
        <result column="teacher_name" property="teacherName" jdbcType="VARCHAR"/>
        <result column="clazz_name" property="clazzName" jdbcType="VARCHAR"/>
        <result column="major" property="major" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectDistinctSubject" resultType="map">
        SELECT subject_name, subject_id
        FROM subject
        GROUP BY subject_name
    </select>

    <select id="selectPageWithTeacherAndClazz" resultMap="SubjectWithTeacherAndClazz">
        SELECT s.*, c.clazz_id, c.clazz_name, u.user_id as teacher_id, u.username as teacher_name
        FROM subject s
                 JOIN clazz c on s.clazz_id = c.clazz_id
                 JOIN user u on s.teacher_id = u.user_id
            ${ew.customSqlSegment}
    </select>
    <select id="findByIdWithTeacherAndClazz" resultMap="SubjectWithTeacherAndClazz">
        SELECT s.*, c.*, u.user_id as teacher_id, u.username as teacher_name
        FROM subject s
                 JOIN clazz c on s.clazz_id = c.clazz_id
                 JOIN user u on s.teacher_id = u.user_id
        WHERE s.subject_id = #{subjectId}
    </select>
</mapper>
