<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.examsystem.mapper.TestHistoryMapper">
    <resultMap id="TestWithClazzAndSubjectAndStudent" type="com.zj.examsystem.entity.TestHistory">
        <id column="history_id" property="historyId" jdbcType="INTEGER"/>
        <result column="finish_time" property="finishTime" jdbcType="DATE"/>
        <result column="take_time" property="takeTime" jdbcType="INTEGER"/>
        <result column="reply" property="reply" jdbcType="VARCHAR"/>
        <result column="user_id" property="studentId" jdbcType="INTEGER"/>
        <result column="test_id" property="testId" jdbcType="INTEGER"/>
        <!-- extra property -->
        <result column="student_name" property="studentName" jdbcType="VARCHAR"/>
        <result column="test_name" property="testName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="subject_name" property="subjectName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="countByTestAndStudent" resultType="integer">
        SELECT COUNT(*)
        FROM test_history th
                 JOIN user u ON th.student_id = u.user_id
        WHERE u.user_id = #{userId}
          AND th.test_id = #{testId}
    </select>

    <!--    <select id="selectPageWithTest" resultMap="TestWithClazzAndSubject">-->
    <!--        SELECT th.*,-->
    <!--               t.test_name,-->
    <!--               t.description,-->
    <!--               sub.subject_name-->
    <!--        FROM test_history th-->
    <!--                 JOIN student stu ON th.stu_id = stu.id-->
    <!--                 JOIN test t ON th.test_id = t.test_id-->
    <!--                 JOIN subject sub ON t.sub_id = sub.sub_id-->
    <!--    </select>-->

    <select id="selectPageByTestId" resultType="com.zj.examsystem.entity.TestHistory">
        SELECT th.*, u.username AS student_name
        FROM test_history th
                 JOIN user u ON th.student_id = u.user_id
            ${ew.customSqlSegment}
    </select>
</mapper>
