<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.examsystem.mapper.TestMapper">
    <resultMap id="TestWithClazzAndSubject" type="com.zj.examsystem.entity.Test">
        <id column="test_id" property="testId" jdbcType="INTEGER"/>
        <result column="test_name" property="testName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="begin_date" property="beginDate" jdbcType="DATE"/>
        <result column="end_date" property="endDate" jdbcType="DATE"/>
        <result column="exam_duration" property="examDuration" jdbcType="INTEGER"/>
        <result column="exam_time" property="examTime" jdbcType="INTEGER"/>
        <result column="question_list" property="questionList" jdbcType="VARCHAR"/>
        <result column="question_total" property="questionTotal" jdbcType="INTEGER"/>
        <result column="clazz_id" property="clazzId" jdbcType="INTEGER"/>
        <result column="subject_id" property="subjectId" jdbcType="INTEGER"/>
        <!-- extra property -->
        <result column="major" property="major" jdbcType="VARCHAR"/>
        <result column="clazz_name" property="clazzName" jdbcType="VARCHAR"/>
        <result column="subject_name" property="subjectName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectPageWithClazzAndSubject" resultMap="TestWithClazzAndSubject">
        SELECT t.*, c.clazz_name, s.subject_name, c.major
        FROM test t
                 JOIN clazz c on t.clazz_id = c.clazz_id
                 JOIN subject s on t.subject_id = s.subject_id
                 JOIN user u on s.teacher_id = u.user_id
            ${ew.customSqlSegment}
    </select>
</mapper>
