<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.examsystem.mapper.TestHistoryMapper">
    <select id="selectPageWithTest" resultType="com.zj.examsystem.entity.TestHistoryWithUserTestSubject">
        SELECT *
        FROM test_history_with_user_test_subject ${ew.customSqlSegment}
    </select>

    <select id="findTestInfoByCompoundId" resultType="com.zj.examsystem.entity.TestHistoryWithUserTestSubject">
        SELECT *
        FROM test_history_with_user_test_subject
        WHERE test_id = #{testId}
          AND student_id = #{studentId}
    </select>

    <select id="findIdByTestId" resultType="java.lang.Integer">
        SELECT history_id
        FROM test_history
        WHERE test_id = #{testId}
    </select>

    <select id="findCorrectnessByStudentId" resultType="java.lang.Float">
        SELECT test_history.correct / test.question_total * 100 AS score
        FROM test_history
                 JOIN test ON test.test_id = test_history.test_id
        WHERE student_id = #{userId}
        ORDER BY score DESC
    </select>
</mapper>
