<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.examsystem.mapper.UserMapper">
    <select id="selectPageWithRole" resultType="com.zj.examsystem.entity.User">
        SELECT *
        FROM user_with_role
        <if test="ew!=null">
            ${ew.customSqlSegment}
        </if>
    </select>

    <select id="findByIdWithRole" resultType="com.zj.examsystem.entity.User">
        SELECT *
        FROM user_with_role
        WHERE user_id = ${userId}
    </select>

    <select id="selectTeacherWithRoleAndClazz" resultType="com.zj.examsystem.entity.User">
        SELECT *
        FROM teacher_with_role_major ${ew.customSqlSegment}
    </select>

    <select id="selectStudentWithRoleAndClazz" resultType="com.zj.examsystem.entity.User">
        SELECT *
        FROM student_with_role_clazz_major ${ew.customSqlSegment}
    </select>

    <select id="selectUserIdsByTestId" resultType="java.lang.Integer">
        SELECT student_with_role_clazz_major.user_id
        FROM student_with_role_clazz_major
                 JOIN test_with_subject_clazz twsc on student_with_role_clazz_major.clazz_id = twsc.clazz_id
        WHERE twsc.test_id = #{testId}
    </select>
</mapper>
