body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

form {
  margin: 0 150px;
}
.el-form-item__content {
  display: block !important;
}

.input-group {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.input-group:nth-child(1) {
  margin-bottom: 4px;
}
.input-group:before,
.input-group:after {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #38d39f;
  transition: 0.5s;
}
.input-group:after {
  right: 50%;
}
.input-group:before {
  left: 50%;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon i {
  color: #38d39f;
  transition: 0.5s;
}

.input-group > div {
  position: relative;
  height: 45px;
}

.input-group.focus:after,
.input-group.focus:before {
  width: 50%;
}
.input {
  /* position: absolute; */
  width: 360px;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

button {
  width: 30%;
  height: 50px;
  border-radius: 25px;
  margin: 3rem 0;
  font-size: 1.2rem;
  letter-spacing: 10px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  background-size: 200%;
  transition: 0.5s;
}
button:hover {
  background-position: right;
}
