<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.examsystem.eos.mapper.TestHistoryMapper">
    <resultMap id="TestWithClazzAndSubject" type="com.zj.examsystem.auto.entity.Testhistory">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="finish_date" property="finishDate" jdbcType="DATE"/>
        <result column="score" property="score" jdbcType="INTEGER"/>
        <result column="stu_id" property="stuId" jdbcType="INTEGER"/>
        <result column="test_id" property="testId" jdbcType="INTEGER"/>
        <!-- extra property -->
        <result column="test_name" property="testName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="sub_name" property="subName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findByTestAndStudent" resultType="integer">
        SELECT COUNT(*)
        FROM testhistory th
                 JOIN student s ON th.stu_id = s.id
        WHERE s.account = #{stuAccount}
          AND th.test_id = #{testId}
    </select>

    <select id="selectPageWithTest" resultMap="TestWithClazzAndSubject">
        SELECT th.*,
               t.test_name,
               t.description,
               sub.sub_name
        FROM testhistory th
                 JOIN student stu ON th.stu_id = stu.id
                 JOIN test t ON th.test_id = t.test_id
                 JOIN subject sub ON t.sub_id = sub.sub_id
    </select>
</mapper>
